{% extends "layout/base.html" %}
{% load static %}

{% block head-scripts %}
<script src="https://unpkg.com/html5-qrcode@2.0.9/dist/html5-qrcode.min.js"></script>
{% endblock head-scripts %}
{% block title %}Scan products{% endblock title %}

{% block content %}
<div class="qr-reader" id="qr-reader" style="width: 600px"></div>
{% endblock content %}

{% block scripts %}
<script>
    const csrftoken = '{{ csrf_token }}';
    const sleep = (time) => {
        now = Date.now()
        while (Date.now() - now > time) { }
    }
    const send_barcode = (barcode) => {
        fetch('{% url "scanner:api:part_by_barcode" %}', {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify({
                "barcode": barcode
            })
        })
            .then(response => response.json())
            .then(response => window.location.assign(`/admin/main/part/${response.data}/change/`))
    }
    const onScanSuccess = (decodedText, decodedResult) => {
        console.log(`Code scanned = ${decodedText}`, decodedResult);
        send_barcode(decodedText)
        sleep(5000)
    }
    var html5QrcodeScanner = new Html5QrcodeScanner("qr-reader", { fps: 10, qrbox: 250 });
    html5QrcodeScanner.render(onScanSuccess);
</script>
{% endblock scripts %}