{% extends "layout/base.html" %}
{% load static %}

{% block style %}
<style>
    .parts .card {
        margin-right: 15px;
        margin-bottom: 15px;
    }

    .parts .card:nth-child(4n) {
        margin-right: 0;
    }
</style>
{% endblock style %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}
<h1 class="text-center">{{ title }}</h1>

<div class="parts">
    <div class="row">
        {% for part in parts %}
        <div class="col-md-3">
            <div class="card mb-2" style="width: 18rem;">
                {% if part.photo %}
                    <img src="{{ part.photo.url }}" class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                    <h5><a href="{{ part.get_absolute_url }}" class="card-title">{{ part.name }}</a></h5>
                    <p class="card-text">
                        <b>Ціна: </b>{{ part.sell_price }} грн. <br>
                        <b>Виробник: </b><a href="{% url 'main:part_producer' part.producer.pk %}">{{ part.producer }}</a><br>
                    </p>
                    <form method="post" action="{% url 'store:add_to_order' %}">
                        {% csrf_token %}
                        
                        <input type="hidden" name="part_id" value="{{ part.pk }}">
                        <div class="row">
                            <div class="col">
                                <input type="submit" class="form-control btn btn-primary" value="В корзину"></input>
                            </div>
                            <div class="col">
                                <input style="width: 50%" class="form-control" type="number" min="1" value="1" name="quantity">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% if forloop.counter|divisibleby:4 or forloop.last %}
    </div>
    <div class="row">
        {% endif %}

        {% endfor %}
    </div>
</div>
{% endblock content %}
