{% extends "layout/base.html" %}
{% load static %}

{% block style %}

<style>
    .order-status-2 { background-color: #3498db !important; } /* Blue */
    .order-status-3 { background-color: #f39c12 !important; } /* Orange */
    .order-status-4 { background-color: #9b59b6 !important; } /* Purple */
    .order-status-5 { background-color: #e74c3c !important; } /* Red */
    .order-status-6 { background-color: #27ae60 !important; } /* Emerald Green */

    h1, h3 {
        color: #212529;
    }
</style>

{% endblock style %}

{% block content %}
<h1 class="text-center mb-4">Ваші замовлення:</h1>
{% if not orders %}
<h3>Ви ще не мали жодного замовлення</h3>

{% else %}
{% for order in orders %}
<div class="card mb-3">
    <div class="card-header text-body-secondary d-flex justify-content-between">
        <div>{{ order.sold_at|date:"j E Y" }}</div>
        <div>Замовлення № {{ order.pk }}</div>
        <div>{{ order.sold_at|timesince }} тому</div>
    </div>
    <div class="card-body">
        <table class="table mb-0">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Товар</th>
                    <th scope="col">До авто</th>
                    <th scope="col">Ціна за одиницю</th>
                    <th scope="col">Кількість</th>
                    <th scope="col">Сумма</th>
                </tr>
            </thead>
            <tbody>
                {% for product in order.products.all %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ product.part.name }}</td>
                    <td>{{ product.part.belongs_to.name }}</td>
                    <td>{{ product.sell_price }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.total_price }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer text-body-secondary d-flex justify-content-between">
        <div>Статус: <span class="badge text-bg-primary order-status-{{ order.status }}">{{ order.get_status_display }}</span></div>
        <div>{{ order.total }} грн.</div>
    </div>
</div>
{% endfor %}
{% endif %}
{% endblock content %}