{% extends "layout/base.html" %}
{% load static %}

{% block style %}
<style>
  .main-text {
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    width: 80%;
    font-size: large;
  }
</style>
{% endblock style %}

{% block content %}

<div class="container py-4">
  <div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">FDA.IF 🚗</h1>
      <p class="col-md-12 fs-5">Ласкаво просимо на сторінку авторозбірки <strong>FDA.IF</strong> - вашого вірного партнера у світі користованих автомобільних запчастин! У нас ви знайдете великий вибір якісних запчастин для вашого автомобіля за доступними цінами. Наша команда забезпечує надійність, швидкість та професіоналізм у кожній угоді. Робіть ваші поїздки безпечнішими та комфортнішими разом із запчастинами від <strong>FDA.IF</strong>! 🛠️</p>
      <a href="{% url 'main:car_producers_catalog' %}" class="btn btn-outline-primary btn-lg" type="button">Почати покупки 🛒</a>
    </div>
  </div>

  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-bg-dark rounded-3">
        <h2>Файні деталі - в смартфоні! 📱</h2>
        <p>Використовуйте нашого телеграм-бота для отримання додаткових послуг або спілкування з нами через Telegram.</p>
        <a href="https://t.me/FDA_bot" target="_blank" class="btn btn-outline-light" type="button">До боту 🤖</a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <h2>Підберемо замість вас! 🤝</h2>
        <p>Не забудьте відвідати також розділ "Підбір запчастин", де ви зможете скористатися нашим сервісом для підбору необхідних вам запчастин.</p>
        <a href="{% url 'selection:list' %}" class="btn btn-outline-secondary" type="button">Підібрати товари 🔍</a>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
