{% extends "layout/base.html" %}
{% load static %}

{% block style %}
<style>
  .main-text {
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    width: 80%;
    font-size: large;
  }
</style>
{% endblock style %}

{% block content %}
<div class="main-text">
    <p>Ласкаво просимо на сторінку авторозбірки <strong>FDA.IF</strong> - вашого вірного партнера у світі користованих автомобільних запчастин! У нас ви знайдете великий вибір якісних запчастин для вашого автомобіля за доступними цінами. Наша команда забезпечує надійність, швидкість та професіоналізм у кожній угоді. Робіть ваші поїздки безпечнішими та комфортнішими разом із запчастинами від <strong>FDA.IF</strong>!</p>
    <p>Звідси ви можете скористатися <a href="{% url 'main:index' %}">головною сторінкою</a> нашого сайту, щоб отримати загальну інформацію про наші пропозиції та можливості.</p>

    <p>Якщо вас цікавить конкретна <a href="{% url 'main:car_producers_catalog' %}">продукція чи послуга</a>, переходьте до нашого розділу "Каталог". Тут ви зможете детальніше ознайомитися з асортиментом та використовувати фільтри для швидкого пошуку необхідних товарів.</p>

    <p>У <a href="{% url 'main:part_producers_catalog' %}">розділі "Виробники"</a> ви можете знайти інформацію про компанії, які стоять за продукцією, що ми пропонуємо. Тут ви дізнаєтеся більше про їхню історію та асортимент.</p>

    <p>Для зручності управління вашим транспортом ви можете скористатися <a href="{% url 'garage:garage' %}">розділом "Гараж"</a>, де ви зможете додавати, видаляти та редагувати інформацію про свої автомобілі чи інші транспортні засоби. Крім того, ви можете скористатися нашим <a href="https://t.me/FDA_bot" target="_blank">телеграм-ботом</a> для отримання додаткових послуг або зв'язку з нами через месенджер Telegram.</p>

    <p>Не забудьте відвідати також розділ <a href="{% url 'selection:list' %}">Підбір запчастин</a>, де ви зможете скористатися нашим сервісом для підбору необхідних вам запчастин.</p>
</div>
{% endblock content %}
